################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Laboratorka2/.vs/Laboratorka2/v17/Browse.VC.opendb
