################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Laboratorka2/.vs/Laboratorka2/v17/Browse.VC.opendb
/Laboratorka2/.vs/Laboratorka2/FileContentIndex/fce29847-7d5e-448c-99cc-70cd9960103b.vsidx
/Laboratorka2/.vs/Laboratorka2/FileContentIndex/635bb10b-6bf6-419b-839f-e76b66202744.vsidx
